/* Header styles */
.about#header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;

    align-items: center;
}

.about#header-container #location-container {
    display: flex;
    fill: var(--primary-color);
    gap: 0.5rem;
}

.about#header-container #location-container svg {
    width: 1rem;
    height: auto;
}

.about#header-container #header-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about#header-container p#location {
    color: var(--primary-color);
}

.about#header-container p#location svg {
    fill: var(--primary-color);
    width: 1rem;
    height: auto;
}

.about#header-container h1#header-title {
    font-size: clamp(2rem, 5vw, 3rem);
}

.about#header-container p#header-desc {
}

.about#header-container img#header-image {
    width: 100%;
    border-radius: 50%; 
    border: 1px solid var(--outline-color);    
}

/* Story styles */
section.about#story-container {

}

section.about#story-container #story {

}

section.about#story-container #story .chapter {
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--outline-color);
    border-radius: 10px;

    display: flex;
    align-items: center;
    position: relative;
}

section.about#story-container #story .chapter .chapter-desc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section.about#story-container #story .chapter .chapter-desc h1 {

}

section.about#story-container #story .chapter .chapter-desc p {
    color: var(--primary-color);
}

section.about#story-container #story .chapter:nth-child(odd) { border-right: 1px solid var(--outline-color); }
section.about#story-container #story .chapter:nth-child(even) { border-left: 1px solid var(--outline-color); }

section.about#story-container #story .chapter button {
    background: var(--outline-color);
    border: none;
    border-radius: 50%;
    padding: 1rem;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;

    position: absolute;
}

section.about#story-container #story .chapter:nth-child(odd) button {
    right: -1.25rem;
}

section.about#story-container #story .chapter:nth-child(even) button {
    left: -1.25rem;
}

/* Skills styles */
section.about#skills-container {

}

section.about#skills-container h2#skills-title {

}

section.about#skills-container #skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

section.about#skills-container #skills .skill-card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid var(--outline-color);
    padding: 1.5rem;
    border-radius: 10px;
}


section.about#skills-container #skills .skill-card img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

section.about#skills-container #skills .skill-card h1 {

}

section.about#skills-container #skills .skill-card p {
    color: var(--primary-color);
}

/* Interests and Hobbies Styles */
section.about#hobbies-container {

}

section.about#hobbies-container h2#hobbies-title {

}

section.about#hobbies-container #hobbies {

}

section.about#hobbies-container #hobbies .hobby-card {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
}

section.about#hobbies-container #hobbies .hobby-card.image-animation {
    animation: enter-animation 0.8s 1;
}

@keyframes enter-animation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

section.about#hobbies-container #hobbies .hobby-card img {
    width: 100%;
    height: auto;
}

/* Mobile styles */
@media only screen and (max-width: 900px) {
    /* Header styles */
    .about#header-container {
        grid-template-columns: 1fr;
    }
}