@import url('https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css');

:root {
    --text-color: #f5f5f5;
    --bg-color: #171717;
    --muted-bg-color: #1c1c1c;

    --primary-color: #858585;
    --secondary-color: #1c282A;
    --accent-color: #527e86;

    --outline-color: #2b2b2b;

    --default-transition: all 0.4s ease-in-out;

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Roboto Serif', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--primary-font);

    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

nav {
    width: clamp(260px, 20vw, 270px);
    background-color: var(--muted-bg-color);
    border-right: 1px solid var(--outline-color);
    text-align: left;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;

    transition: var(--default-transition);
}

nav * { transition: var(--default-transition); }

nav header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#header-profile h1 { font-size: 1rem; }

#header-profile p {
    color: var(--primary-color);
    font-size: 0.8rem;
}

#header-profile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--outline-color);
}

#shrink-nav-button {
    background-color: var(--muted-bg-color);
    border: 1px solid var(--outline-color);
    border-radius: 100%;
    width: 35px; 
    height: 35px; 

    display: flex;
    justify-content: center;

    position: absolute;
    left: 15.8rem;
    top: 1.5rem;
}

#shrink-nav-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#shrink-nav-button svg {
    fill: var(--primary-color);
    width: 20px;
    vertical-align: middle;
}

#shrink-nav-button:hover svg { fill: var(--text-color); }

nav.hidden { 
    width: 80px; 
    padding: 1.5rem 1.5rem;
    align-items: center;
}

nav.hidden #header-profile img {
    width: 30px;
    height: 30px;
}

nav.hidden #shrink-nav-button { 
    left: 4rem; 
}

nav.hidden #header-profile div, 
nav.hidden #main-nav-links p { 
    display: none; 
}

nav.hidden #main-nav-links svg {
    min-width: 20px;
}

nav.hidden #shrink-nav-button svg { transform: rotate(180deg); }

#main-nav-links {
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
}

nav button {
    color: var(--primary-color);
    background: none;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;

    font-size: 0.9rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

nav button.active {
    background: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}

nav button svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-color);
    vertical-align: middle;
}

nav button:hover {
    cursor: pointer;
    color: var(--text-color);
}

nav button:hover svg {
    fill: var(--text-color);
}

footer {
    height: 50px;
    background-color: var(--muted-bg-color);

    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 7px;
}

footer svg {
    fill: var(--text-color);
    width: 1.5rem;
    transition: var(--default-transition);
    vertical-align: middle;
}

footer svg:hover {
    fill: var(--primary-color);
    cursor: pointer;
}

/* article styles */
article { 
    padding: 8rem 18% 0 18%; 

    display: grid;
    grid-template-rows: auto 1fr auto;
}

article #header-profile { display: none; }

#greeting { font-size: clamp(2rem, 5vw, 3rem); }

#greeting span { 
    color: #595959; 
    background-image: linear-gradient(0deg, #595959 , #D4D4D4 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
}

#location {
    color: var(--primary-color);
}

#description {
    margin: 1rem 0;
}

#content header button {
    background: none;
    border: 1px solid var(--outline-color);
    background-color: var(--muted-bg-color);
    padding: 0.5rem 1rem;
    color: var(--text-color);
}

#content header button:hover {
    cursor: pointer;
}

#content header button a {
    text-decoration: none;
    color: var(--text-color);
}

/* mobile user styles */
@media only screen and (max-width: 900px) {
    body {
        min-height: 100vh;
        grid-template-columns: 1fr;
    }

    nav {
        height: 50px;
        width: 100%;

        position: fixed;
        bottom: 0;
    }

    #shrink-nav-button { display: none; }
    #header-profile { display: none; }

    article { 
        padding: 2rem 10% 0 10%;
        margin-bottom: 50px; 
    }

    article #header-profile {
        display: flex;
        margin-bottom: 2rem;
    }
}